.content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.text_field {
	height: 50px;
	input {
		box-shadow: none !important;
	}
}

.actions {
	padding: 16px !important;
}
